body {
  font-family: sans-serif;
}

th,
td {
  padding: 9px;
}

.deleteUser {
  background-color: red;
  border-radius: 3px;
  padding: 5px;
}

a.deleteUser:link,
a.deleteUser:visited {
  color: white;
}
